version: "3"
services:
  web:
    container_name: deep_memes_backend
    restart: on-failure
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - "8080:8080"
    links:
      - db
      - classifier
    volumes:
      - ./api/:/usr/app
    depends_on:
      - db
      - classifier
    environment:
      PYTHONUNBUFFERED: 1
  db:
    image: mongo
    container_name: deep_memes_database
    volumes:
      - ~/data/db:/data/db
    ports:
      - "27017:27017"
    command: --quiet
  classifier:
    container_name: deep_memes_classifier
    restart: on-failure
    build:
      context: .
      dockerfile: ./classifier/Dockerfile
    ports:
      - "8090:8080"
    volumes:
      - ./classifier/:/usr/app
    environment:
      PYTHONUNBUFFERED: 1
